
#container { margin-top:20px }
.left { float:left }
.right { float:right }
.hidden { display:none }

table { margin-top:20px }
h2 { margin-bottom:10px; float:left; width:100% }
h2 a { margin-top:3px; font-weight:normal }

.pagetitle { float:left; clear:left; margin-bottom:20px; border-bottom:2px solid #666; width:100% }
.pagetitle h2 { border-bottom:none; width:auto; margin-bottom:0 }

form .left { margin:5px 20px 5px 0; min-width:130px }
form fieldset { margin-top:10px }

#talkList { min-width:0 }
#talkList .item { clear:left; float:left }
#addTalk { float:left; margin:27px 0 -20px 0 }

.remove { float:left; margin-top:35px }


.view .control-group { clear:left; float:left; margin:10px 0 }


.rightBox { float:right; border:3px solid #DDD; padding:10px 20px; margin-top:20px }

.nav-tabs { clear:left; float:left; width:710px; margin-top:20px }
.tab-content { float:left; width:710px; min-height:180px }


img.black
{
width:66px;
height:64px;
background:url(/public/images/eggsprite.jpg) -98px -175px;
}

img.white
{
width:66px;
height:64px;
background:url(/public/images/eggsprite.jpg) -180px -90px;
}

img.mixed
{
width:66px;
height:64px;
background:url(/public/images/eggsprite.jpg) -20px -175px;
}

