<form action = "@Application.saveOrder()" class = "form-vertical" >

<fieldset>
<legend> Agregar  </legend>
			#{if flash.success}
    				<p class="alert-success">${flash.success}</p>
			#{/if}
			#{if flash.error}
					<p class="alert-error">${flash.error}</p>
			#{/if}
			
			#{select 'client', items:_clients, valueProperty:'id', 
			labelProperty:'Clientes', value:0, class:'test', id:'selectClient' /}
			<label for="dp2">Fecha propuesta</label>
			<div class="input">
				<div class="inline-inputs">
					<input type="text" class="span2"  data-date-format="dd/mm/yyyy" id = "dp2" value="20/03/2012" /> 
				</div>
			</div>
		    <label for="dp2">Fecha de Entrega</label>
			<div class="input">
					<input type="text" class="span2"  data-date-format="dd/mm/yyyy" id = "dp2" value="20/03/2012" /> 
			</div>
			<div class = well>
			<div id = "detailList">
			<div id="item_0" class="item">
						<div class = "span1">
							<label for="color_0">Color</label>
							<input type="text" id="color_0" name="order.detail[0].color" class="span1" />
						</div>
						<div class = "span2">
							<label for="size_0">Tamaño</label>
							<input type="text" id="size_0" name="order.detail[0].size" class="span2" />
						</div>
						<div class = "span1">
							<label for="color_0">Cantidad</label>
							<input type="text" id="number_0" name="order.detail[0].number" class="span1" />
						</div>
						<div class = "span2">
							<a href="#" id="addDetail" class="btn btn-info"><i class="icon-plus icon-white"></i> Agregar otro</a>
						</div>
			</div>
			</div>
			</div>
   				
	      <div class="form-actions">
            <button class="btn btn-primary" type="submit">Guardar</button>&nbsp;<button class="btn" type="reset">Cancelar</button>
          </div>
	    
</fieldset>

</form>

<div id="detailTemplate" class="hidden">
	<div id="item_$ID" class="item">
				<div class="inline-inputs">
						<div class = "left">
							<label for="color_$ID">Color</label>
							<input type="text" id="color_$ID" name="order.detail[$ID].color" class="span1" />
						</div>
						<div class = "left">
							<label for="size_$ID">Tamaño</label>
							<input type="text" id="size_$ID" name="order.detail[$ID].size" class="span2" />
						</div>
						<div class = "left">
							<label for="number_$ID">Cantidad</label>
							<input type="text" id="number_0" name="order.detail[$ID].number" class="span1" />
						</div>
				</div>
	</div>
</div>