
#{form @Application.saveOrder()}
<fieldset>
<legend> Agregar  </legend>
			#{if flash.success}
    				<p class="alert-success">${flash.success}</p>
			#{/if}
			#{if flash.error}
					<p class="alert-error">${flash.error}</p>
			#{/if}
			
			#{select 'clientId', items:_clients, valueProperty:'id', 
			labelProperty:'Clientes', value:0, class:'test', id:'client' /}
			<label for="dp2">Fecha propuesta</label>
			<div class="input">
				<div class="inline-inputs">
					<input type="text" class="span2"  data-date-format="dd/mm/yyyy" id = "dp2" value="${new Date().format('dd/MM/yyyy')}" name = "orderDate" />
				</div>
			</div>
		    <label for="dp2">Fecha de Entrega</label>
			<div class="input">
					<input type="text" class="span2"  data-date-format="dd/mm/yyyy" id = "dp3" value="${new Date().format('dd/MM/yyyy')}" name = "deliveryDate"/> 
			</div>
			<div class = well>
			<legend>Detalle</legend>
						<fieldset>
					<div id = "detailList">
						<div id="item_0" class="item">
							<div class = "row">
								<div class = "span3">
									<label for="selectColor_0">Color</label>
									#{select 'order.detail[0].color' , value:1 , id : 'selectColor_0'}
										#{option 1} NEGRO  #{/option}
										#{option 2} BLANCO  #{/option}
										#{option 3} MIXTO  #{/option}
									#{/select}
								</div>
								<div class = "span3">
									<label for="selectSize_0">Tamaño</label>
									#{select 'order.detail[0].size' , value:1 , id : 'selectSize_0'}
										#{option 1} CHICO  #{/option}
										#{option 2} MEDIANO  #{/option}
										#{option 3} GRANDE  #{/option}
									#{/select}
								</div>
								<div class = "span1">
									<label for="color_0">Cantidad</label>
									<input type="text" id="number_0" name="order.detail[0].number" class="span1"  />
								</div>
							</div>	
						</div>
				<a href="#" id="addDetail" class="btn btn-info"><i class="icon-plus icon-white"></i> Agregar otro</a>
						
					</div>
				</fieldset>
				</div>
   				
	      <div class="form-actions">
            <button class="btn btn-primary" type="submit">Guardar</button>&nbsp;<button class="btn" type="reset">Cancelar</button>
          </div>
	    
</fieldset>

#{/form}
<div id="detailTemplate" class="hidden">
	<div id="item_$ID" class="item">
	<div class = "row">
	
								<div class = "span3">
									<label for="selectColor_$ID">Color</label>
									#{select 'order.detail[$ID].color' , value:1 , id : 'selectColor_$ID'}
										#{option 1} NEGRO  #{/option}
										#{option 2} BLANCO  #{/option}
										#{option 3} MIXTO  #{/option}
									#{/select}
								</div>
								<div class = "span3">
									<label for="selectSize_$ID">Tamaño</label>
									#{select 'order.detail[$ID].size' , value:1 , id : 'selectSize_$ID'}
										#{option 1} CHICO  #{/option}
										#{option 2} MEDIANO  #{/option}
										#{option 3} GRANDE  #{/option}
									#{/select}
								</div>
								<div class = "span1">
									<label for="color_$ID">Cantidad</label>
									<input type="text" id="number_$ID" name="order.detail[$ID].number" class="span1" />
								</div>
	</div>
	</div>
</div>