#{form @Application.saveComment(_postId)}

<fieldset>
<legend> Agregate uno </legend>
			#{if flash.success}
    				<p class="alert-success">${flash.success}</p>
			#{/if}
			#{if flash.error}
					<p class="alert-error">${flash.error}</p>
			#{/if}

          <div class="clearfix">
            <label for="">Nombre</label>
            <div class="input">
              <input type="text" size="50" name="firstname" id="xlInput" class="xlarge" value = "${params.firstname}">
            </div>
            <div class="input">
               <textarea name="texto" id="textarea" class="xxlarge">${params.texto}</textarea>
            </div>

	    </div> <!-- /clearfix -->
	      <div class="actions">
            <button class="btn-primary" type="submit">Guardar</button>&nbsp;<button class="btn-danger" type="reset">Cancelar</button>
          </div>
	    
</fieldset>

#{/form}